* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 22px;
    /* overflow: hidden; */
    /* height: 400px; */
    /* align-content: stretch; */
    box-shadow: 0px 2px 25px rgb(226, 222, 222);
}

.blue-box {
    background-color: rgba(100, 65, 253, 255);
    width: 250px;
    /* height: 100%; */
    text-align: center;
    border-radius: 5%;
    padding: 30px;
    color: white;
    /* box-shadow: 0px 2px 15px rgb(39, 140, 241); */
    transition: all 0.5s;

}

#circle {
    border-radius: 50%;
    background-color: rgba(70, 44, 221, 255);
    box-shadow: inset 26px 0px 29px rgba(100, 65, 253, 255);
    border: 1px ridge rgba(70, 44, 221, 255);
    transform: rotate(260deg);
    height: 70px;
    width: 70px;
    /* align-items: center; */
    margin: auto;
    padding: 40px;
    font-size: 27px;
}

.circle_content {
    transform: rotate(100deg);
    margin-right: -10px;
    margin-top: -10px;
}

/* white-box */
.white-box {
    width: 280px;
    /* height: 100%; */
    padding: 40px 20px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.four-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 5px;
    margin-top: 20px;

}

.score_box_title {
    display: flex;
    gap: 10px;
}

#one {
    /* border: 2px solid pink; */
    background-color: rgba(255, 246, 245, 255);
    color: red;
}

#two {
    /* border: 2px solid rgb(216, 216, 112); */
    background-color: rgba(255, 251, 242, 255);
    color: gold;

}

#three {
    /* border: 2px solid rgb(216, 216, 112); */
    background-color: rgba(242, 251, 250, 255);
    color: rgba(144, 217, 206, 255);

}

#four {
    /* border: 2px solid rgb(216, 216, 112); */
    background-color: rgba(243, 243, 253, 255);
    color: darkblue;

}



.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button_container button {
    width: 80%;
    background-color: rgb(38, 30, 77);
    border-radius: 20px;
    font-size: larger;
    color: white;
    padding: 7px;

}

#marks {
    color: darkblue;
    letter-spacing: 1px;
}

.button_container button:hover {
    background-color: rgb(75, 62, 139);
    cursor: pointer;

}